.number .ant-statistic-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    /*font-family: "等线 Light", ,fantasy;*/
    font-family: "等线", "Calibri Light", serif;
    max-height: 6vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.number {
    /*margin: 10px;*/
    /*margin-left: 4%;*/
    margin-bottom: 40px;
    margin-top: 10px;
    /*margin-right: 40px;*/
    margin-left: 40px;
}

.number .ant-card-hoverable {
    cursor: pointer;
    -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.3s;
    /*transition: border-color 0.3s, -webkit-box-shadow 0.3s;*/
    transition: box-shadow 0.3s, border-color 0.3s, -webkit-box-shadow 0.3s;
    box-shadow: 1px 1px 10px #3399cc;
}

.number .ant-statistic {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum", "tnum";
    background: #0c1112;

    /*#0c1112*/
}

.number .ant-statistic-content {
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.number .ant-card-bordered {
    border: 0 solid #0c1112;
}

.number .ant-card {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum", "tnum";
    position: relative;
    background: #0c1112;
    border-radius: 2px;
}

.ant-table-thead {
    height: 10vh;
}

.number .ant-statistic-content-prefix {
    /*width: 18%;*/
    width: 26px
}

.number .ant-card-head-title {
    display: inline-block;
    -ms-flex: 1;
    flex: 1 1;
    padding: 16px 0;
    color: white;
    font-size: 23px;
}

/*for VisitRankingList*/

.topRank .donutPlot {
    margin-top: 14%;
    align-content: center;
}

.topRank .topList {
    margin: 20px;
}

.topRank {
    background: #0c1112;
    height: auto;
    min-height: 40vh;
    box-shadow: 1px 1px 10px #3399cc;
    /*margin-top: 30px;*/
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom:5px;
}

.topRank .ant-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    /* flex-flow: row wrap;*/
}

.topRank .ant-pagination-item-active {
    font-weight: 500;
    background: #151414;
    border-color: white;
}

.topRank .ant-pagination-item-active a {
    color: #ffffff;
}

.topRank .ant-pagination-item a {
    display: block;
    padding: 0 6px;
    color: rgb(255, 255, 255);
    transition: none;
}

.topRank .ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link {
    background: transparent;
    border-color: #ee808000;
    color: white;
}

.ring-guide-name {
    color: white;
    font-family: "等线 Light", serif;
}

.ring-guide-value {
    color: white !important;
    opacity: 0.7
}
