@import "../../node_modules/magic.css/dist/magic.css";
body {
    background-color: #001529;
}
.ant-tabs {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum", "tnum";
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

/*#000000   黑色*/
/*#333333   灰色*/
/*#001529*/
.title {
    color: #d8e3e7;
    font-size: 37px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.centerDesc {
    width: 50vw;
    color: white;
    text-align: center;
    position: absolute;
    left: 25vw;
    font-size: calc(35px + 2.5vmin);
    line-height: 70px;
    margin-top: calc(50vh - 204px);
    z-index: 3;
}

.leftDesc {
    width: 40vw;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}

.rightBottomDesc {
    width: 30vmin;
    margin-left: auto;
    margin-top: auto;
    overflow: hidden;
}

.rightTopDesc {
    margin-left: auto;
    width: 30vw;
    margin-bottom: auto;
    overflow: hidden;
}
.select-before {
    width: 90px;
}
[data-theme="compact"] .select-before {
    width: 71px;
}
.ant-layout-header {
    height: 64px;
    padding: 0 1vw;
    color: rgba(0, 0, 0, 0.65);
    line-height: 64px;
    background: #001529;
}
#root {
    min-height: 100vh;
    overflow: hidden;
}

.titleNoMatch {
    color: #d8e3e7;
    font-size: 110px;
    text-align: center;
    font-weight: bold;
    /*font-family: "Calibri Light";*/
    font-family: "Corbel", fantasy;
}
