.Block{
    width:100%;
    height: 400px;
    /*top: 23%;*/
    /*position: relative;*/
margin-top: 8%;
    /*border-radius: 25px;*/
    box-shadow: 0 0 10px 0px  #132c33;
    background-color: #6699CC;

    /*background-image: linear-gradient(to bottom right,#baccd9,#8abcd1);*/
}

body{
    background-color: #000f1d;
}
/*#000000   黑色*/
/*#333333   灰色*/

.title{
    color: #d8e3e7;
    font-size: 37px;
    padding: 5px;
    text-align: center;
    font-weight: bold;

}
