.login {
    width: 69vmin;
    margin-top: 15vh;
    border-radius: 5px;
    box-shadow: 10px 10px 30px #795c9c;
    /*background-image: linear-gradient(to bottom right,#baccd9,#8abcd1);*/
}

body .login .left {
    display: inline-block;
    width: 480px;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding: 55px;
}

body .login {
    color: #d8e3e7;
    font-size: 37px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.login input {
    background: transparent;
}
.login .ant-input-affix-wrapper > input.ant-input {
    padding: 0;
    border: none;
    outline: none;
    color: white;
}

.login .ant-input-affix-wrapper {
    background: transparent;
    color: white;
}

.title {
    color: #d8e3e7;
    font-size: 37px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin: 15px;
    text-shadow: 0 0 5px #8668a5;
}
