.register .ant-form-item-label > label {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
}

.registerBlock{
    width:800px;
    top: 15%;
    position: fixed;
    height: 460px;
    border-radius: 25px;
    box-shadow: 10px 10px 30px #3399CC;
    /*background-color: #336699;*/
    left: 0;
    right: 0;
    margin:0 auto;
    /*background-image: linear-gradient(to bottom right,#baccd9,#8abcd1);*/
}

.registerTitle{
    color: #d8e3e7;
    font-size: 37px;
    padding-top: 30px;

    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 5px #3399CC;
}

.register .ant-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: white;
    font-size: 14px;
    line-height: 1.5715;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: transparent;
}

.register .ant-input-affix-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: white;
    font-size: 14px;
    line-height: 1.5715;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: transparent;
}
