[data-theme="compact"],
.white-chart,
.site-collapse-custom-collapse,
.site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
    color: #ffffff;
}

.ant-layout-sider-zero-width-trigger {
    top: 0;
}

.ant-statistic-title {
    color: rgba(255, 255, 255, 0.25);
}

.ant-layout .ant-layout-has-sider {
    background: #001121;
}

.ant-statistic-content-prefix {
    width: 100%;
}

div.MapSelector .ant-select-selector {
    background: #000000;
    backdrop-filter: saturate(180%) blur(20px);
    opacity: 0.7;
}

div.MapSelector .ant-select-selection-search {
    color: #ffffff;
}

div.MapSelector .ant-select-dropdown {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

div.MapSelector .ant-select-item-option {
    display: -ms-flexbox;
    background: none;
    display: flex;
    color: white;
}

div.MapSelector .ant-select-item-option-active:not(.ant-select-item-option-disabled):not(.ant-select-item-option-selected) {
    background-color: #00000013;
}

div.MapSelector .ant-tabs-tab {
    color: white;
}
