@import "~antd/dist/antd.less"; // 引入官方提供的 less 样式入口文件
@link-color: #7b66f3;

@heading-color: #ffffff;
@text-color: #ffffff;
@text-color-secondary: #7b8e9c;

@skeleton-to-color: #6e5d8c;
@skeleton-color: #475369;

@background-color-light: #6e5d8c;
@background-color-base: #475369;
@component-background: #444444;
@item-hover-bg: #333333;
@btn-default-ghost-color: @text-color;
@page-header-ghost-bg: transparent;
@btn-default-ghost-border: @text-color;
@disabled-color: rgb(123, 142, 156);
